<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>

<form class="" action="/users" method="post">
  <input type="text" name="user.name" value="name">
  <input type="submit" value="Add User">
</form>
