body {
  	width: 1200px;
  	background: #C9C9C9;
  	font-family: sans-serif;
}
a{
  color: #1ed8f8;
}

h3{
	color: #2722bd;
}
.header{
	height: 50px;
	width: 1200px;
}

.header img{
	position: absolute;
	top: 10px
	left: 15px;
}
.header p{
  position: absolute;
  top: 9px;
  left: 92px;
  font-size: 33px;

 }

.subheader{
	height: 50px;
	width: 1200px;
	background-color: #2722bd;
	color: white;
	font-size: 24px;
}

.main_text{
	width: 855px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.main_text div{

}

.main_text a{
	color: blue;

}

.sidebar{
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	background-repeat: green;
	padding: 10px;
}
.sidebar div{
	display: inline-block;
}

.sidebar h3{
	color: red;
	text-align: left;
}
.sidebar button{
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background: #2722bd;
  text-align: center;
  height: 40px;
  width: 300px;
  margin: 2px;

}

.contact{
display: inline;
text-align: right;
}

.learn{
	border :blue solid 3px;
	border-top:
}

.learn img{
  float: left;
  margin-right: 35px;
}

.advert{
  margin-top: 75px;
  height: 300px;
	width:280px;
	background-image: url("images/ad_background.png")
}

.advert button{
  padding: 15px 100px;
	display: inline;
	border-radius: 5px;
	font-size: 16px;
}

.important{
  color: #1ed8f8;
}
