<!DOCTYPE HTML>
<html>
    <head>
      <title>My First Landing Page Template</title>
    </head>
    <body>
      <h2> Is {{name}} a ninja?</h2>
      <p>We need to look at a couple of ninja examples to determine if there is a real ninja named Willie in our midst</p>
      <p><b>Let's look at our first ninja...wait for it....</b></p>
      <img src="static/croc_ninja.gif" alt="">

      <h2> Is {{name}} a ninja or a croc?</h2>
      <p>Seems to be more croc than ninja. The feet look ninja but the mouth looks deadly</p>
      <p><b>A ninja mouth is a deadly mouth</b></p>
      <img src="static/watch_out_ninja.gif" alt="">
      <h3>He must be a ninja!</h3>
    </body>
</html>
