<div class="row">
  <div class="col-md-6">
    <h2>All Users</h2>
    <table class= "table table-striped">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Favorite Language</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.favorite_language %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>New Users</h2>
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" name="user[first_name]" class="form-control" id="first_name">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" name="user[last_name]" class="form-control" id="last_name">
      </div>
      <div class="form-group">
        <label for="language">Favorite Language</label>
        <input type="text" name="user[favorite_language]" class="form-control" id="language">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add User</button>
      </div>
    </form>
    <a href="/posts" class="btn btn-info">All Posts</a>
  </div>
</div>
