<div class="container">
	<div class="container">
		<h1 class="text-center">The Current Time and Date:</h1>
		<div class="well well-lg">
			<h3 class="text-center"><%= @time.strftime("%b %d, %Y") %></h3>
			<h3 class="text-center"><%= @time.strftime("%I:%M %p") %></h3>
	    </div>
	</div>
</div>
